<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ baseUrl }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/highlight.dark.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
    </head>
    <body>

      <div id="wrapper">

        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">OpenFn Docs</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.openfn.org"><i class="fa fa-cube fa-lg"></i>&nbsp;&nbsp;OpenFn.org</a></li>
                <li><a href="https://www.github.com/OpenFn/docs"><i class="fa fa-github fa-lg"></i>&nbsp;&nbsp;GitHub</a></li>
                <li class="dropdown" id="toc-mobile" />
              </ul>
            </div>
          </div>
        </nav>

        <div id="sidebar-wrapper">
          <div id="toc"></div>
        </div>

        <div id="page-content-wrapper">
          <main class="container">
            <div class="row">
              {{ content|raw }}
            </div>
          </main>
        </div>

      </div>

      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="//yastatic.net/highlightjs/8.2/highlight.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.1/anchor.js"></script>
      <script src="{{ baseUrl }}/toc.min.js"></script>

      <script>
          $(function() {
              $("section>h1").wrap('<div class="page-header" />');
              // Syntax highlighting
              hljs.initHighlightingOnLoad();
          });

          /* Call to Anchor-js function */
          anchors.add('h1, h2, h3, h4');

          // Shift anchor link scroll past fixed navbar
          var shiftWindow = function() { scrollBy(0, -95) };
          if (location.hash) shiftWindow();
          window.addEventListener("hashchange", shiftWindow);

          $('#toc').toc({
            'selectors': 'h1, h2', //elements to use as headings
            'listType' : "<ul class='sidebar-nav'/>", //the element that will contain the li's
            'container': 'body', //element to find all selectors in
            'smoothScrolling': true, //enable or disable smooth scrolling on click
            'prefix': 'toc', //prefix for anchor tags and class names
            'onHighlight': function(el) {}, //called when a new section is highlighted
            'highlightOnScroll': true, //add class to heading that is currently in focus
            'highlightOffset': 100, //offset to trigger the next headline
            'anchorName': function(i, heading, prefix) { //custom function for anchor name
                return prefix+i;
            },
            'headerText': function(i, heading, $heading) { //custom function building the header-item text
                return $heading.text();
            },
            'itemClass': function(i, heading, $heading, prefix) { // custom function for item class
              return $heading[0].tagName.toLowerCase();
            }
          });

          $('#toc-mobile').toc({
            'selectors': 'h1, h2', //elements to use as headings
            'listType' : "<ul class='dropdown-menu'/>", //the element that will contain the li's
            'container': 'body', //element to find all selectors in
            'smoothScrolling': true, //enable or disable smooth scrolling on click
            'prefix': 'toc', //prefix for anchor tags and class names
            'onHighlight': function(el) {}, //called when a new section is highlighted
            'highlightOnScroll': true, //add class to heading that is currently in focus
            'highlightOffset': 100, //offset to trigger the next headline
            'anchorName': function(i, heading, prefix) { //custom function for anchor name
                return prefix+i;
            },
            'headerText': function(i, heading, $heading) { //custom function building the header-item text
                return $heading.text();
            },
            'itemClass': function(i, heading, $heading, prefix) { // custom function for item class
              return ""
            }
          });

          $(`#toc-mobile`).prepend(`<a href="#" id="contents-dropdown-toggle" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contents <span class="caret"></span></a>`);

          $("#menu-toggle").click(function(e) {
              e.preventDefault();
              $("#wrapper").toggleClass("toggled");
          });

      </script>

    </body>
</html>
