<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ baseUrl }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/highlight.dark.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
    </head>
    <body>

        <header class="navbar navbar-default navbar-fixed-top">

            <a class="navbar-brand" href="#introduction">
                {{ title|default('The title') }}
            </a>

        </header>

        <main class="{{ menu ? 'container-fluid' : 'container' }}">
            <div class="row">

                {% if menu is defined %}

                    <nav id="sidebar" class="col-sm-3 col-lg-2" role="navigation">

                        <ul class="nav nav-pills nav-stacked">
                            {% for itemId, item in menu.items %}
                                <li class="{{ itemId == currentMenu ? 'active' }}">
                                    <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                                        {{ item.text|raw }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                    </nav>

                {% endif %}

                <section id="content" class="{{ menu ? 'col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10' : 'col-sm-12' }}">
                    {{ content|raw }}
                </section>

            </div>
        </main>

        <footer>
            <div class="{{ menu ? 'container-fluid' : 'container' }}">
                <p class="text-muted">
                    website generated with <a href="http://couscous.io" title="Markdown website generator">Couscous</a>
                </p>
            </div>
        </footer>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//yastatic.net/highlightjs/8.2/highlight.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.1/anchor.js"></script>

        <script>
            $(function() {
                $("section>h1").wrap('<div class="page-header" />');
                // Syntax highlighting
                hljs.initHighlightingOnLoad();
            });

            /* Call to Anchor-js function */
            anchors.add('h1, h2, h3, h4');

            // Shift anchor link scroll past fixed navbar
            var shiftWindow = function() { scrollBy(0, -95) };
            if (location.hash) shiftWindow();
            window.addEventListener("hashchange", shiftWindow);

        </script>

    </body>
</html>
