<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ baseUrl }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/highlight.dark.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <a class="navbar-brand" href="#introduction">
              {{ title|default('OpenFn Docs') }}
          </a>
        </nav>
        <main class="container">
          <div class="row">
            {{ content|raw }}
          </div>
        </main>

        <footer>
            <div class="{{ menu ? 'container-fluid' : 'container' }}">
                <p class="text-muted">
                    <a href="https://www.openfn.org" title="OpenFn">OpenFn</a>
                </p>
            </div>
        </footer>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//yastatic.net/highlightjs/8.2/highlight.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.1/anchor.js"></script>

        <script>
            $(function() {
                $("section>h1").wrap('<div class="page-header" />');
                // Syntax highlighting
                hljs.initHighlightingOnLoad();
            });

            /* Call to Anchor-js function */
            anchors.add('h1, h2, h3, h4');

            // Shift anchor link scroll past fixed navbar
            var shiftWindow = function() { scrollBy(0, -95) };
            if (location.hash) shiftWindow();
            window.addEventListener("hashchange", shiftWindow);

        </script>

    </body>
</html>
