<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }} </title>

        <link rel="stylesheet" href="{{ baseUrl }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/highlight.dark.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
    </head>
    <body>
      <!--<div class="{{ menu ? 'container-fluid' : 'container' }} main" -->
      <div class="{{ menu ? 'container-fluid' : 'container' }} main"
          <div class="row">

            <div id="sidebar" class="col-lg-3 col-md-3 col-sm-12 col-xs-10 col-xs-offset-1">
                <a id="navbar-brand"> OpenFn Documentation </a>
                <nav id="toc" role="navigation">
                </nav>
            </div>

            <div id="content" class="{{ menu ? 'col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 col-xs-12' : 'col-sm-12' }}">
            <!-- <section id="content" class="{{ menu ? 'col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 col-xs-12' : 'col-sm-12' }}> -->
                {{ content|raw }}
              <!-- </section> -->
            </div>

          </div>
      </div>

      <footer>
          <div class="{{ menu ? 'container-fluid' : 'container' }}">
              <p class="text-muted">
                  website generated with <a href="http://couscous.io" title="Markdown website generator">Couscous</a>
              </p>
          </div>
      </footer>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//yastatic.net/highlightjs/8.2/highlight.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.1/anchor.js"></script>

        <script src="{{ baseUrl }}/toc.min.js"></script>
        <script src="{{ baseUrl }}/jquery.sticky.js"></script>

        <script>
            $(function() {
                $("section>h1").wrap('<div class="page-header" />');
                // Syntax highlighting
                hljs.initHighlightingOnLoad();
            });

            /* Call to Anchor-js function */
            anchors.add('h1, h2, h3, h4');

            /* Generate TOC */
            $('#toc').toc({
                'selectors': 'h1, h2', //elements to use as headings
                'container': 'body', //element to find all selectors in
                'smoothScrolling': false, //enable or disable smooth scrolling on click
                'prefix': 'toc', //prefix for anchor tags and class names
                'onHighlight': function(el) {}, //called when a new section is highlighted
                'highlightOnScroll': true, //add class to heading that is currently in focus
                'highlightOffset': 100, //offset to trigger the next headline
                'anchorName': function(i, heading, prefix) { //custom function for anchor name
                    return prefix+i;
                },
                'headerText': function(i, heading, $heading) { //custom function building the header-item text
                    return $heading.text();
                },
                'itemClass': function(i, heading, $heading, prefix) { // custom function for item class
                  return $heading[0].tagName.toLowerCase();
                }
            });

            /* Function for adjusting sidebar positioning on scroll
            $(document).ready(function(){
              $("#toc").sticky({topSpacing:0});
            });
            */
        </script>


    </body>
</html>
